* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;

}


/*.row {
    width: auto;
    border: 1px solid blue;
}

.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}*/

#addcategory{
  /*width: 250px;*/
   height: 450px;
   margin: auto;
   position: absolute;
   z-index: -1;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 30px
}

#login{
  width: 550px;
  height: 450px;
   margin: auto;
   position: absolute;
   z-index: -1;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 30px;
}

#register{
  width: 550px;
  height: 650px;
   margin: auto;
   position: absolute;
   z-index: -1;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 24px;

}

#expensepage{
  width: 1000px;
  height: 850px;
   margin: auto;
   position: absolute;
   z-index: -1;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 23px;
}

#incomepage{
  width: 1000px;
  height: 850px;
   margin: auto;
   position: absolute;
   z-index: -1;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 23px

}

#Table {
  background: #fff;
  font-size: 18px;
}


#jumbo{
  width: 1400px;
  height: 800px;
   margin: auto;
   position: absolute;
   z-index: -1;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;

}

#jumboimage{

  /*color: black;*/
  background: #000 url("https://s1.1zoom.me/b5050/820/421558-Egor1212_1920x1080.jpg") center center;
  position: relative;
  /* width: 100%;
   height: 600px;*/
   background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;
      color: white;
  font-size: 50px;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 1px 4px #23430C;


}

body{
  width: 100%;
  /*height: 100vh;*/
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
}
